<div class="post post--<%= post.attributes.type %>">
	<h2><a href="<%= post.url %>"><%= post.title %></a></h2>
	<div class="post__columns">
		<div class="post__content">
			<%- include(`./post/${post.attributes.type}`, {
				post: post
			}) %>
		</div>
		<div class="post__meta">
			<a href="<%= post.url %>" title="Posted at <%= post.time_formatted %>"><%= post.date_formatted %></a>
			<% if (post.context != 'index' && site.user && site.user.id == post.user.id) { %>
				<p><a href="<%= post.edit_url %>">Edit post</a></p>
			<% } %>
		</div>
	</div>
</div>
